$cAside: white;
$cMain: #FAFBFF;
$cTextDefault: black;

$cSmall: #838383;
$cLi: #9197B3;
$cActive: #5932EA;
$cActiveTitle: #16C098;
$cUser: #757575;
$cTableGrey: #B5B7C0;
$cButton: #EEEEEE;
$cSearchIcon: #7E7E7E;


$cStatusBackgroundActive: #A6E7D8;
$cStatusColorActive: #008767;

$cStatusBackgroundInactive: #FFC5C5;
$cStatusColorInactive: #DF0404;




