@mixin sbFlex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

@mixin cFlex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

@mixin sFlex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
}

